/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
a {
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.2;
}
/* ..............login page css start.................. */
/*................**form heading section start***............*/
.login-bg {
  background: #f5f5f7;
}
.form-heading {
  padding-top: 50px;
  padding-bottom: 40px;
}
.form-heading a h2 {
  color: #000;
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}
/*...........form section css start............*/
.form-section {
  margin-bottom: 40px;
}
.form-section .form-wrapper {
  width: 36%;
  margin: 0 auto;
}
.form-section .form-wrapper h3 {
  color: #222;
  font-weight: 600;
  font-size: 26px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 22px;
  text-align: center;
}
.form-section .form-wrapper form {
  background: #fff;
  padding: 25px 22px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.form-section .form-wrapper form fieldset label {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  font-family: "Exo 2", sans-serif;
}
.form-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form-check-input {
  padding: 0px !important;
  margin-top: 0px;
}
.bottom-label {
  margin-bottom: 0px;
  margin-left: 5px;
}
.form-section .form-wrapper form fieldset input {
  color: #555;
  padding: 6px 10px;
  font-size: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.02);
}
.form-group a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  transition: 0.5s;
}
.form-group a:hover {
  text-decoration: underline !important;
}
.login-hr {
  background: #dadde1;
  margin-top: 24px;
}
.form-text {
  font-family: "Exo 2", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: black;
}
.password {
  margin-bottom: 6px;
}
button.login-button {
  box-shadow: 0 2px 4px rgb(0 0 0 / 3%), 0 8px 16px rgb(0 0 0 / 3%);
  font-size: 13px;
  padding: 6px 17px;
  background: #24ccab;
  color: white;
  outline: none;
  border: none;
}
.signup-btn {
  box-shadow: 0 2px 4px rgb(0 0 0 / 3%), 0 8px 16px rgb(0 0 0 / 3%);
  font-size: 13px;
  padding: 6px 17px;
  background: #24ccab;
  color: white;
  outline: none;
  border: none;
  font-family: poppins;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
sign-up-section .signup-btn :hover {
  text-decoration: underline !important;
}
.sign-up-section h5 {
  color: #000;
  font-weight: bold;
  font-size: 17px;
  margin-top: 27px;
  margin-bottom: 15px;
  font-family: "Exo 2", sans-serif;
}
.form-check-input:checked {
  background-color: #24ccab;
  border-color: #24ccab;
}
.form-group {
  margin-bottom: 10px;
}
.form-text:hover {
  color: #24ccab;
}
/* ..............login page css end.................. */
